


.search-block {
   
    display: flex;
    justify-content: center;


}
  .search-box {
      width : 584px;
      display: flex;
      justify-content: center;
      border-color: white;
      box-shadow: none;

}
 .search-buttons {
    display: flex;
    justify-content: center;
 }

.logo {
    padding-top:150px;
    display: flex;
    justify-content: center;
}
body {
    color: red;
    border-color: red;
    padding: 15px;
    background: rgba(255, 255, 255, 0.411);
}
div {
  display: block;
}